*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.wrapper {
  margin: 0 auto;
  padding: 64px 0;
  justify-content: center;
  max-width: 1120px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.user_card {
  width: 357px;
  height: 314px;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.user_name {
  font-size: 24px;
  padding-bottom: 24px;
}

.phone_number,
.email {
  display: flex;
  align-items: center;
  gap: 14px;
  padding-bottom: 14px;
  color: #8189a3;
}

.searchInput {
  height: 48px;
  width: 100%;
  border-radius: 24px;
  border: 2px solid #d4defe;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.searchInput input {
  width: 95%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 24px;
  padding: 0 10px;
  font-size: 18px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 500px;
  /* height: 468px; */
  background-color: #fff;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.modal_name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  padding-bottom: 40px;
}

.cross {
  display: inherit;
  cursor: pointer;
}

.modal_black {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding-right: 40px;
  padding-bottom: 14px;
}

.modal_title {
  display: block;
  min-width: 140px;
  margin-right: 40px;
}

.modal_gray {
  color: #8189a3;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.additional {
  padding-top: 25px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 12px;
}

.additional_text {
  color: #8189a3;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
